{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_media %}
    {# HBH standard - removed '+1' for start index at slider
     Variables:
     'startIndexThumbnails'
     'startIndexSlider' #}
    <div class="col-lg-7 product-detail-media">
        {% if page.product.media %}
            {% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                'mediaItems': mediaItems,
                'zoom': true,
                'zoomModal': true,
                'displayMode': 'contain',
                'gutter': 5,
                'minHeight': '430px',
                'navigationArrows': 'inside',
                'navigationDots': 'inside',
                'galleryPosition': 'left',
                'isProduct': true,
                'fallbackImageTitle': page.product.translated.name,
                'startIndexThumbnails': page.product.cover.position,
                'startIndexSlider': page.product.cover.position
            } %}
        {% endif %}
    </div>
{% endblock %}
